crash-reports/
downloads/
logs/
patchouli_books/
profileImage/
recipe templates/
resourcepacks/
saves/
schematics/
shaderpacks/
trees/
dimension_sorted_biomes.txt
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
servers.dat
servers.dat_old
usercache.json
usernamecache.json